version: 2

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
      time: "14:30"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
