no.nav.security.oidc:
  issuers: selvbetjening,intern
  issuer:
    selvbetjening:
      discoveryurl: <SETTES FRA FASIT>
      accepted_audience: <SETTES FRA FASIT>
      cookie_name: selvbetjening-idtoken
    intern:
      discoveryurl: <SETTES FRA FASIT>
      accepted_audience: <SETTES FRA FASIT>
      cookie_name: ID_token


logging.config: classpath:logback-spring.xml

management:
  endpoint.prometheus.enabled: true
  endpoints.web:
    base-path: /internal
    exposure.include: prometheus
    path-mapping.prometheus: /prometheus

server:
  servlet:
    context-path: /syfomotebehov

spring:
  main.banner-mode: 'off'
  jta.atomikos.datasource:
    max-pool-size: 32
    min-pool-size: 8
  cache:
    ehcache:
      config: ehcache.xml

dev: false
