no.nav.security:
  oidc:
    issuers: selvbetjening,intern,veileder
    issuer:
      selvbetjening:
        discoveryurl: <SETTES FRA FASIT>
        accepted_audience: <SETTES FRA FASIT>
        cookie_name: selvbetjening-idtoken
      intern:
        discoveryurl: <SETTES FRA FASIT>
        accepted_audience: modiabrukerdialog-p,modiabrukerdialog-q1,veilarblogin-p,veilarblogin-q1,fpsak-frontend-p,fpsak-frontend-q1,fplos-p,fplos-q1
        cookie_name: ID_token
      veileder:
        discoveryurl: <SETTES FRA FASIT>
        accepted_audience: <SETTES FRA FASIT>
        cookie_name: isso-idtoken

logging.config: classpath:logback-spring.xml

management:
  endpoint.prometheus.enabled: true
  endpoints.web:
    base-path: /internal
    exposure.include: prometheus
    path-mapping.prometheus: /prometheus

server:
  servlet:
    context-path: /syfomotebehov

spring:
  main.banner-mode: 'off'
  jta.atomikos.datasource:
    max-pool-size: 32
    min-pool-size: 8
  kafka:
      client-id: ${app.name}-${fasit.environment.name}
      properties:
        security.protocol: SASL_SSL
        sasl:
          mechanism: PLAIN
          jaas.config: org.apache.kafka.common.security.plain.PlainLoginModule required username="${srvsyfomotebehov.username}" password="${srvsyfomotebehov.password}";
        ssl.truststore:
          location: ${javax.net.ssl.trustStore}
          password: ${javax.net.ssl.trustStorePassword}
      producer:
        key-serializer: org.apache.kafka.common.serialization.StringSerializer
        value-serializer: org.apache.kafka.common.serialization.StringSerializer

dev: false
