<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false" version="3.0">

    <display-name>syfomotebehov</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All pages</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <filter>
        <filter-name>authorizationFilterFeed</filter-name>
        <filter-class>no.nav.syfo.controller.authorization.AuthorizationFilterFeed</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorizationFilterFeed</filter-name>
        <url-pattern>/api/feed/*</url-pattern>
    </filter-mapping>
</web-app>
