name: Dependabot auto-approve and auto-merge

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  automerge:
    permissions:
      contents: write
      pull-requests: write
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/dependabot-automerge.yaml@main
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.AUTOMERGE_APP_PRIVATE_KEY }}
